<div class="main">
  <h1 style="text-align: center">Todo List</h1>
  <div class="input">
    <mat-form-field class="example-full-width">
      <!-- <mat-label>Favorite food</mat-label> -->
      <input matInput placeholder="Enter Task" [(ngModel)]="tasks.task" />
    </mat-form-field>
    <div class="add">
      <button
        style="background-color: #1a73e8; color: white"
        mat-raised-button
        (click)="addtask()"
      >
        +add
      </button>
    </div>
  </div>
  <div class="taskList">
    @for (task of taskList; track $index) {
    <app-todolist
      [task]="task"
      (deleteTaskEvent)="deleteTask($event)"
      (completedTaskEvent)="completed($event)"
    />
    }
  </div>
</div>
<br />
<div class="completed">
  <h1 style="text-align: center">Completed Tasks</h1>
  @for (tasks of completedTask; track $index) {
  <app-competedtask [task]="tasks" (deleteTaskEvent)="deleteTask($event)" />
  }
</div>
<router-outlet />
