.input
{
    display: flex;
    gap: 20px;
}
.add
{
    padding-top: 10px;
}
.main
{
}
.example-full-width
{
    width: 400px;
}
.taskList
{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.completed
{
    display: flex;
    flex-direction: column;
    gap: 15px;
}